<nav class="navbar-left">
    <div class="logo"><img class="img-responsve" src="/content/images/logo.png"  height="43px"></div>
    <ul class="nav">
        <li class="nav-main-item"><!--Pulpit-->
            <a>
                <i class="fa fa-tachometer"></i>
                <span>Pulpit</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Pulpit</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Konfiguracja</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Wyloguj</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-main-item"><!--CRM-->
            <a>
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>CRM</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                            <span>Pulpit CRM</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista kontrahentów</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Kalendarz</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Raporty</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Raporty szczegółowe</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Projekty</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Dokumenty</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Oferty</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Windykacja</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Dodaj kontrahenta</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Grupy kontrahentów</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Dodaj grupę kontrahentów</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-main-item"><!--Rachunki-->
            <a>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                 <span>Rachunki</span>
            </a>
             <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista rachunków i faktur</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Wystaw rachunek</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Wystaw fakturę</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Faktury pro forma</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Nieudokumentowane</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Inne przychody</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Przeglądanie</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Dokumenty wysłane</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Allegro</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Towary i usługi</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Rachunki cykliczne</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-main-item"><!--Kasy fiskalne-->
            <a>
                <i class="fa fa-calculator" aria-hidden="true"></i>
                <span>Kasy fiskalne</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Sprzedaż na paragon/fakturę</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Paragon</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista paragonów</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Wydruk dobowy</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Anulowanie sprzedaży</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Konfiguracj</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-main-item"><!--Wydatki-->
            <a>
                <i class="fa fa-money" aria-hidden="true"></i>
                <span>Wydatki</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Dodaj wydatek</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Dodaj wydatek zbiorczy</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Zakup towarów handlowych - faktura</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Zakup towarów handlowych - inny</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Koszt prowadzenia działalności - faktura</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Koszt prowadzenia działalności - inny</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Faktura telefon/internet</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            <span>Import faktur elektronicznych</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista wydatków</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista dokumentów elektronicznych</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-main-item"><!--Pojazdy-->
            <a>
                <i class="fa fa-car" aria-hidden="true"></i>
                <span>Pojazdy</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Wszystkie pojazdy</span>
                        </a>
                    </li>
                </ul>
            </div>        
        </li>
        <li class="nav-main-item"><!--Ewidencje-->
            <a>
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                <span>Ewidencje</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Księga przychodów i rozchodów</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Deklaracje-->
            <a>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>Deklaracje</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Deklaracje</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>e-Deklaracje</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>e-Deklaracje ZUS</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Pracownicy-->
            <a>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Pracownicy</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a ui-sref="pulpit-pracownikow">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Pulpit pracowników</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista pracowników</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Lista płac</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Rachunki</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Umowy</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Umowy archiwalne</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Karty pracowników</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Ewidencja czasu pracy</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Przeglądanie</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Zobowiazania-->
            <a>
                <i class="fa fa-archive" aria-hidden="true"></i>
                <span>Zobowiązania</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Składki ZUS</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Wynagrodzenia</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Podatki i inne</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Paczki przelewów</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Majatek-->
            <a>
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <span>Majątek</span>
            </a>
             <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Rejestr środków trwałych</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Rejestr wyposażenia</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Dowody umożenia środków trwałych</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Protokoły likwidacji</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Remanenty</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Agenda-->
            <a>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>Agenda</span>
            </a>
            <div class="submenu">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Agenda</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Kalendarz</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
        <li class="nav-main-item"><!--Narzędzia-->
            <a>
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Narzędzia</span>
            </a>
            <div class="submenu pull-top">
                <ul class="nav">
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Usługi kurierskie</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Zamówienia odbioru przesyłek</span>
                        </a>
                    </li>
                     <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Allegro</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Aplikacje mobilne</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Formularz CEIDG-1/VAT-R</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>API</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Kampania reklamowa</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span>Usługi finansowe</span>
                        </a>
                    </li>
                </ul>
            </div>       
        </li>
    </ul>
</nav>