body, html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #2f3545; }

.container-fluid, .col-lg-1, .col-lg-11, .container, .col-lg-2, .col-lg-10 {
  padding: 0px; }

.row {
  margin: 0px; }

.container-fluid {
  height: 100%;
  min-height: 100%; }

.container {
  width: 100%;
  background-color: #FFF; }

.main-container > .row, .main-container > .row > .col-lg-11, .main-container > .row > .col-lg-11 > .container {
  height: 100%;
  min-height: 100%; }

.main-container > .row, .main-container > .row > .col-lg-10, .main-container > .row > .col-lg-10 > .container {
  height: 100%;
  min-height: 100%; }
